extends layout 

block content
    h1= title

    form(method='POST' action='')
        .formGroup
            label(for = 'name') Enter name:
            input(type = 'text' id = 'name' name='name' required=true)
        .formGroup 
            label(for = 'description') Optionally enter description:
            textarea(type = 'text' id='description' name='description')
        .formGroup
            label Choose tags:
            #tagsCheckboxInput
                each tag in tags
                    label(class='tagNameColor' style = tag.getColorBackgroundStyleString for=tag._id) #{tag.name}                        
                        input.checkbox-input(type='checkbox', name='tag', id=tag._id, value=tag._id)
        .formGroup
            label(for='price') Enter price:
            input(type='number' id='price' name='price' required=true)
        .formGroup
            label(for='numberInStock') Enter number in stock:
            input(type='number' id='numberInStock' name='numberInStock' required=true)
        input(type="submit")
                    
block specificStyle
    link(rel='stylesheet', href='/stylesheets/item/itemForm.css')
    link(rel='stylesheet', href='/stylesheets/forms.css')
    link(rel='stylesheet', href='/stylesheets/tag/tagNameColorClassStyle.css')