extends layout 

block content
    h1= title

    #instructionAndButtonsWrapper
        p Click on an item for further information and options.
        #buttons
            button(onclick="window.location.href='/catalog/item/add';") Add an item
            button(onclick="window.location.href='/catalog/itemlist/filter';") Filter by tag
    
    ul(id="itemsWrapper")
        each item in itemList
            li(onclick=`window.location.href='${item.url}'`)
                .imageAndOtherWrapper
                    img(src=item.imagePath)
                    .nameAndTagsWrapper
                        h2 #{item.name}
                        .tagNamesWrapper
                            each tag in item.tags
                                -const colorArray = tag.getColor;
                                div(class='tagNameColor' style = tag.getColorBackgroundStyleString) #{tag.name}
                            
block specificStyle
    link(rel='stylesheet', href='/stylesheets/item/itemList.css')
    link(rel='stylesheet', href='/stylesheets/tag/tagNameColorClassStyle.css')        