extends layout 

block content
    h1= "Tag Details: "
        span(class='tagNameColor' style=tag.getColorBackgroundStyleString) #{tag.name}


    #updateAndDeleteButtonsWrapper
        button(class="updateButton" onclick=`window.location.href='${tag.url}/update'`) Update
        button(class="deleteButton") Delete
    #sectionsWrapper
        section    
            h2 Description
            p
                if tag.description
                    | #{tag.description}
                else 
                    | No description available.
        
        section
            h2 Items with this tag
            if (itemsWithTag && itemsWithTag.length)
                ul
                    each item in itemsWithTag
                        li
                            a(href=item.url) #{item.name}
            else
                p There are no items with this tag.
                    
block specificStyle
    link(rel='stylesheet', href='/stylesheets/tag/tagDetail.css')
    link(rel='stylesheet', href='/stylesheets/tag/tagNameColorClassStyle.css')
    link(rel='stylesheet', href='/stylesheets/detailPages.css')
    link(rel='stylesheet', href='/stylesheets/buttonStyles.css')